{% extends 'layout.html' %}
{% block title %} Inicio {% endblock %}

{% block content %}

<div class="encabezado">
    <div class="entrada">
        <h1>" Un portal dirigido a médicos del area de cardiología para generar expedientes de pacientes con probabilidades de sufrir IAM "</h1><br>
        <button name="conoceMasBtn" onclick="location.href='https://enfermeriaencardiologia.com/salud-cardiovascular/enfermedades/infarto-agudo-de-miocardio-iam'">Conoce más</button>
    </div>
</div>
    
{% endblock %}