{% extends 'layout.html' %}
{% block header %}
<h1>{% block title %} Paciente {% endblock %}</h1>
{% endblock %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <!-- Nombre del paciente y edad -->
           <li class="breadcrumb-item active justify-content-between" aria-current="page">{{info_p.0}} {{info_p.1}} - <span>Edad {{info_p.2}}</span></li>
        </ol>
    </nav>
    <p class="text-center">
        <!--Boton de medicinas -->
        <a class="btn btn-light col-sm-5" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Medicamentos</a>
        <!--Boton de estudios -->
        <button class="btn btn-light col-sm-5" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Estudios</button>
        <!--Boton de diagnosticos -->
      </p>
      <div class="row">
        <!--Inicio tabla medicinas-->
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
              <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Dosis</th>
                        <th scope="col">Inicio</th>
                        <th scope="col">Fin</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for m in m %}
                      <tr>
                        <th scope="row">{{m.2}}</th>
                        <td>{{m.1}}</td>
                        <td>{{m.3}}</td>
                        <td>{{m.4}}</td>
                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editM{{m.0}}">Editar</button></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
              </div>
              <div class="row justify-content-center">
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#agregarM">Agregar</button>
              </div>
            </div>
          </div>
        </div>
        <!--Fin de medicinas-->
        <!--Inicio de estudios-->
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead>
                          <tr>
                            <th scope="col">Archivo</th>
                            <th scope="col">Descripci&oacute;n</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for e in e %}
                          <tr>
                            <th scope="row"><a href="/static/estudios/{{e.1}}" target="_blank">{{e.1}}</a></th>
                            <td>{{e.2}}</td>
                            <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteE{{e.0}}">Eliminar</button></td>
                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-center">
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#agregarE">Agregar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Boton de diagnosticos-->
      <p class="text-center">
        <button class="btn btn-light col-sm-5" type="button" data-toggle="collapse" data-target="#diagnosis" aria-expanded="false" aria-controls="multiCollapseExample2">Diagnosticos</button>
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="diagnosis">
            <div class="card card-body">
              <!--Inicio tabla diagnosticos-->
                      
                                      <div class="table-responsive">
                                        <table class="table table-hover table-sm">
                                            <thead>
                                              <tr>
                                                <th scope="col">Fecha de diagnostico</th>
                                                <th scope="col">Probabilidad de IAM</th>
                                                <th></th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                            {% for d in d %}
                                              <tr>
                                                <th scope="row">{{d.1}}</th>
                                                <td>{{d.2}}</td>
                                                <!--<td>{%if d.2>=65 and d.10>=100%}SI{%else%}NO{%endif%}</td>-->
                                                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#verD{{d.0}}">Ver</button></td>
                                                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteD{{d.0}}">Eliminar</button></td>
                                              </tr>
                                            {% endfor %}
                                            </tbody>
                                          </table>
                                      </div>
                                      <div class="row justify-content-center">
                                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#agregarD">Nuevo</button>
                                      </div>
                                    
        <!--Fin de diagnosticos-->
            </div>
          </div>
        </div>
      </div>
</div>
<!--Modal agregar medicinas-->
<div class="modal fade" id="agregarM" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Agregar medicina</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/addMedicina" method="post">
            <input type="hidden" name="id_paciente" value="{{id}}">
        <div class="modal-body">
          <div class="form-row mb-3">
            <div class="col">
                <input type="text" class="form-control" name="nombre_m" maxlength="100" class="form.control" placeholder="Nombre de medicina" required>
            </div>
          </div>
          <div class="form-row mb-3">
            <div class="col">
                <input type="text" class="form-control" name="dosis_m" maxlength="100" class="form.control" placeholder="Dosis de medicina" required>
            </div>
          </div>
          <div class="form-row mb-3">
            <div class="col">
                <label for="inicio">Fecha de inicio</label>
                <input type="date" class="form-control" name="inicio_m" class="form-control" required>
            </div>
          </div>
          <div class="form-row mb-3">
            <div class="col">
                <label for="inicio">Fecha de fin</label>
                <input type="date" class="form-control" name="fin_m" class="form-control" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar medicina</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!--Modal agregar diagnostico-->
<div class="modal fade" id="agregarD" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agregar diagnostico</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/addDiagnostico" method="post">
          <input type="hidden" name="id_paciente" value="{{id}}">
      <div class="modal-body">
        <div class="form-row mb-3">
          <div class="col">
              <label for="inicio">Fecha</label>
              <input type="date" class="form-control" name="fecha_d" class="form.control" required>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col">
              <input type="number" class="form-control" name="colesterol_d"  class="form.control" placeholder="Colesterol" required>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col">
              <input type="number" class="form-control" name="azucar_d" class="form.control" placeholder="Azucar" required>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col">
              <input type="number" class="form-control" name="presion_d"  class="form.control" placeholder="Presion" required>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col">
              <label for="inicio">¿El paciente presenta dolor de pecho?</label>
              <select name="dolor_pecho_d" class="form-control" required><option value="0">NO</option><option value="1">SI</option></select>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col">
              <label for="inicio">¿El paciente presenta malestar general?</label>
              <select name="malestar_d" class="form-control" required><option value="0">NO</option><option value="1">SI</option></select>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col">
              <label for="inicio">¿El paciente presenta mareos?</label>
              <select name="mareo_d" class="form-control" required><option value="0">NO</option><option value="1">SI</option></select>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col">
              <label for="inicio">¿El paciente presenta nauseas?</label>
              <select name="nauseas_d" class="form-control" required><option value="0">NO</option><option value="1">SI</option></select>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col">
              <label for="inicio">¿El paciente presenta sudoracion?</label>
              <select name="sudoracion_d" class="form-control" required><option value="0">NO</option><option value="1">SI</option></select>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col">
              <label for="inicio">¿El paciente presenta alguna extension del dolor de pecho?</label>
              <select name="extension_dolor_d" class="form-control" required><option value="0">NO</option><option value="1">SI</option></select>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col">
              <input type="text" class="form-control" name="lugar_extension_d" maxlength="100" class="form.control" placeholder="Lugar de la extension del dolor">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Guardar diagnostico</button>
      </div>
      </form>
    </div>
  </div>
</div>
 <!--Modal ver diagnostico-->
 {% for d in d %}
 <div class="modal fade" id="verD{{d.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Detalle diagnostico</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th scope="col">Fecha de diagnostico</th>
                  <th scope="col">Probabilidad de IAM</th>
                  <th scope="col">Colesterol</th>
                  <th scope="col">Azucar</th>
                  <th scope="col">Presion</th>
                  <th scope="col">Dolor en pecho</th>
                  <th scope="col">Malestar general</th>
                  <th scope="col">Mareo</th>
                  <th scope="col">Nauseas</th>
                  <th scope="col">Sudoracion</th>
                  <th scope="col">Extension del dolor</th>
                  <th scope="col">Lugar de la extension del dolor</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">{{d.1}}</th>
                  <td>{{d.2}}</td>
                  <td>{{d.10}}</td>
                  <td>{{d.11}}</td>
                  <td>{{d.12}}</td>
                  <td>{%if d.3=='1'%}SI{%else%}NO{%endif%}</td>
                  <td>{%if d.4=='1'%}SI{%else%}NO{%endif%}</td>
                  <td>{%if d.5=='1'%}SI{%else%}NO{%endif%}</td>
                  <td>{%if d.6=='1'%}SI{%else%}NO{%endif%}</td>
                  <td>{%if d.7=='1'%}SI{%else%}NO{%endif%}</td>
                  <td>{%if d.8=='1'%}SI{%else%}NO{%endif%}</td>
                  <td>{{d.9}}</td>
                  
                  </tr>
              </tbody>
            </table>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}
<!--Modal agregar archivos-->
<div class="modal fade" id="agregarE" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Agregar estudio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/addE" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id_paciente" value="{{id}}">
        <div class="modal-body">
          <div class="form-row mb-3">
            <div class="col">
                <label for="archivo">Seleccione un archivo</label>
                <input type="file" class="form-control-file" name="archivo" required>
            </div>
          </div>
          <div class="form-row mb-3">
            <div class="col">
                <input type="text" class="form-control" name="descripcion" maxlength="100" class="form-control" placeholder="Descripci&oacute;n del archivo" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar estudio</button>
        </div>
        </form>
      </div>
    </div>
  </div>
<!--Modal editar medicinas-->
{% for m in m %}
<div class="modal fade" id="editM{{m.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Agregar medicina</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/editM" method="post">
            <input type="hidden" name="id_paciente" value="{{id}}">
            <input type="hidden" name="id_medicina" value="{{m.0}}">
        <div class="modal-body">
          <div class="form-row mb-3">
            <div class="col">
                <input type="text" class="form-control" name="nombre_m" maxlength="100" class="form.control" placeholder="Nombre de medicina" value="{{m.2}}" required>
            </div>
          </div>
          <div class="form-row mb-3">
            <div class="col">
                <input type="text" class="form-control" name="dosis_m" maxlength="100" class="form.control" placeholder="Dosis de medicina" value="{{m.1}}" required>
            </div>
          </div>
          <div class="form-row mb-3">
            <div class="col">
                <label for="inicio">Fecha de inicio</label>
                <input type="date" class="form-control" name="inicio_m" class="form-control" value="{{m.3}}" required>
            </div>
          </div>
          <div class="form-row mb-3">
            <div class="col">
                <label for="inicio">Fecha de fin</label>
                <input type="date" class="form-control" name="fin_m" class="form-control" value="{{m.4}}" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Editar medicina</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endfor %}
<!--Modal eliminar estudios-->
{% for e in e %}
<div class="modal fade" id="deleteE{{e.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Eliminar estudio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/deleteE" method="post">
            <input type="hidden" name="id_paciente" value="{{id}}">
            <input type="hidden" name="id_estudio" value="{{e.0}}">
            <input type="hidden" name="nombre_e" value="{{e.1}}">
        <div class="modal-body">
          <p class="text-center">¿Seguro de eliminar el estudio con la descripcion {{e.2}}?</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Eliminar estudio</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endfor %}
<!--Modal eliminar diagnostico-->
{% for d in d %}
<div class="modal fade" id="deleteD{{d.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Eliminar diagnostico</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/deleteD" method="post">
            <input type="hidden" name="id_paciente" value="{{id}}">
            <input type="hidden" name="id_diagnostico" value="{{d.0}}">
        <div class="modal-body">
          <p class="text-center">¿Seguro de eliminar el diagnostico?</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Eliminar diagnostico</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock%}